<template>
  <section class='block-form' id='form'>

    <p class='text-message-sent' :class="[textMessageSent ? 'text-message-sent--active' : false]">Ваше сообщение <br> отправлено!</p>

    <form class='form'>
      <p>НАПИСАТЬ
        <input class='form-input' type='email' name='email' autocomplete='off' placeholder='' required
               v-model='email' @input='clearMessage'>
        <span v-if='errorMessageEmail'>Введите корректный email</span>
      </p>
      <p>ПОЗВОНИТЬ
        <input class='form-input' type='tel' name='tel' autocomplete='off' placeholder='' required
               v-model='tel' v-mask="'+7 ### ### ####'" @input='clearMessage'>
        <span v-if='errorMessageTel'>Введите корректный номер телефона</span>
      </p>
      <p>ПРИЕХАТЬ
        <input class='form-input' type='text' name='name' autocomplete='off' placeholder='' required
               v-model='address' @input='clearMessage'>
        <span v-if='errorMessageAddress'>Введите адрес</span>
      </p>
    </form>

    <button class='form-button' @click='validForm'>ОТПРАВИТЬ</button>

  </section>
</template>

<script>
import "./form.scss"

import { mask } from 'vue-the-mask'

export default {
  name: 'Form',
  directives: { mask },

  data() {
    return {
      textMessageSent: false,

      errors: [],
      email: null,
      tel: null,
      address: null,

      errorMessageEmail: false,
      errorMessageTel: false,
      errorMessageAddress: false,
    }
  },

  methods: {

    clearMessage(){
      this.errorMessageEmail = false;
      this.errorMessageTel = false;
      this.errorMessageAddress = false;
    },

    messageSent(){
      this.email = '',
      this.tel = '',
      this.address = '',
      this.textMessageSent = true
      setTimeout(() => {
        this.textMessageSent = false
      }, 3000)
    },

    startRequest() {
            const request = new XMLHttpRequest();
            const url     = `send.php`;
            const params  = "tel=" + this.tel + "&email=" + this.email + "&address=" + this.address;

            const checkRequest = () => request.readyState !== 4 && request.status !== 200 ? console.log('The request failed') : this.messageSent();

            request.open("POST", url, true);
            request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            request.addEventListener("readystatechange", () => checkRequest());
            request.send(params);
    },


    validEmail(email) {
      let re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    },

    validTel(tel) {
      return tel.length >= 15
    },

    validForm(event) {
      event.preventDefault();

      !this.email ?  this.errorMessageEmail = true :
          !this.validEmail(this.email) ? this.errorMessageEmail = true : !this.errorMessageEmail

      !this.tel ? this.errorMessageTel = true :
          !this.validTel(this.tel) ? this.errorMessageTel = true : !this.errorMessageTel

      !this.address ? this.errorMessageAddress = true : !this.errorMessageAddress

      if (!this.errorMessageAddress && !this.errorMessageTel && !this.errorMessageEmail) {
        this.startRequest();
      }

    },


  }
}
</script>
