@import "src/style/virables";
@import "src/style/mixins";

.block-form {
  position: relative;
  display: flex;
  align-items: flex-end;
  height: auto;
  @include responsive(padding, 100, 30, 'limited');
  @include responsive(margin-bottom, 60, 40, 'limited');
  background: $accent-color;

  @media screen and (max-width: 940px) {
    flex-wrap: wrap;
  }

  .text-message-sent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, .5);
    font-family: $SuisseIntlLight;
    filter: blur(.5);
    @include responsive-font(45, 24);
    color: #ffffff;
    opacity: 0;
    transition: all .4s ease-in;
    z-index: -1000;

    &--active {
      opacity: 1;
      transition: all .4s ease-in;
      z-index: 1000;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 80%;
    height: 100%;

    margin-right: vw(120px);

    @media screen and (max-width: 940px) {
      width: 100%;
      margin-right: 0;
    }

    p {
      position: relative;

      display: flex;
      justify-content: space-between;

      padding-right: vw(128px);

      border-bottom: 1px solid #000000;

      font-family: $SuisseIntlRegular;
      @include responsive-font(47, 16);
      @include responsive-line-height(62, 21);

      &:nth-child(n):not(:last-child) {
        @include responsive(margin-bottom, 80, 40, 'limited');
      }

      @media screen and (max-width: 940px) {
        @include responsive(margin-bottom, 80, 40, 'limited');
      }

      .form-input {
        width: vw(340px);
        font-family: $SuisseIntlRegular;
        @include responsive-font(25, 12);
        @include responsive-line-height(32, 15);
      }

      span {
        width: 100%;
        text-align: right;
        font-size: 14px;
        position: absolute;
        top: 45px;
      }

    }

  }

  .form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: vw(465px);
    @include responsive(height, 75, 50, 'limited');
    background: #ffffff;
    font-family: $SuisseIntlRegular;
    @include responsive-font(30, 21);

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 18px -1px rgba(0, 0, 0, .3);
      transition: all .2s ease-in;
    }

    @media screen and (max-width: 940px) {
      width: 100vw;
      max-width: 330px;
    }
  }
}
