@import "src/style/virables";
@import "src/style/mixins";

.first-screen {
  position: relative;
  width: 100%;
  max-width: #{$maxWidth}px;
  height: auto;
  @include responsive(margin-bottom, 170, 60, 'limited');
  @media screen and (min-width: 1920px) {
    margin: 0 auto;
  }

  .main-title {
    position: absolute;
    top: vw(-45px);
    @include responsive(left, 150, 10, 'limited');
    @include responsive-font(240, 120);
    @include responsive-line-height(220, 105);
    font-family: $ManegeLight;
    font-weight: 100;
    z-index: 100;
    @media screen and (max-width: 1200px) {
      top: 14px;
    }
  }

  .main-slider {
    position: relative;
    max-width: 1490px;
    width: 80vw;
    @include responsive(padding-top, 145, 105, 'limited');
    @include responsive(margin-bottom, 170, 60, 'limited');
    margin-left: auto;

    @media screen and (max-width: 1200px) {
      @include responsive(padding-top, 205, 105, 'limited');
    }
    @media screen and (max-width: 970px) {
      margin-left: 24vw;
      min-width: 775px;
    }
    @media screen and (max-width: 510px) {
      margin-left: 33vw;
    }

    &__footer {
      display: flex;
      width: 73.5%;
      padding: 10px 15px 15px;

      @media screen and (max-width: 970px) {
        flex-direction: column;
        padding-left: 0;
      }

      li {
        display: flex;
        flex-shrink: 0;
        align-items: flex-end;
        font-family: $PTSerifRegular;
        font-size: 18px;
        line-height: 23px;

        @media screen and (max-width: 970px) {
          &:nth-child(n):not(:last-child) {
            margin-bottom: 12px;
          }
        }

        b {
          margin-right: 5px;
          font-family: $SuisseIntlBold;
          font-size: 18px;
          line-height: 23px;
        }
      }

      &-name {
        margin-right: 45%;
      }

      &-type {
        padding-right: 15px;
        margin-right: auto;
      }

      &-place {
        @media screen and (min-width: 970px) {
          padding-left: 20px;
          border-left: 1px solid #000000;
        }
      }
    }

    &-nav {
      position: absolute;
      top: 50%;
      transform: translateX(-50%);
      z-index: 100;

      .nav-indicator {
        @include buttonSlider(105, 80);
      }
    }

    // Swiper slider
    .swiper-wrapper {
      height: auto;
    }

    .swiper-container {
      margin-right: 0;
      border-bottom: 1px solid #000000;
    }

    .swiper-slide {
      height: auto;

      .img {
        width: 100%;
        height: 100%;
        max-height: 810px;
        object-fit: cover;
      }
    }

  }

}
