<template>
  <section class='first-screen'>

    <h1 class='main-title'>Mon <br> cher</h1>
    <div class='main-slider'>

      <swiper :slides-per-view='1'
              effect='fade'
              loop
              :navigation="{prevEl:'.prevButton'}">

        <swiper-slide class='main-slider__slide'
                      v-for='(slide, index) in slider' :key='slide' :virtualIndex='index'>
            <img class='img' :src='require(`@/assets/images/main-slider/${slide}.jpg`)' alt='Русский шик и французская утонченность' loading='lazy'>
        </swiper-slide>

        <ul class='main-slider__footer'>
          <li class='main-slider__footer-name'><b>Клубный дом</b></li>
          <li class='main-slider__footer-type'><b>Тип: </b> Апартаменты</li>
          <li class='main-slider__footer-place'><b>Место: </b> Якиманка</li>
        </ul>

      </swiper>

      <div class='main-slider-nav'>
        <div class='nav-indicator prevButton'></div>
      </div>

    </div>

  </section>
</template>


<script>
import './first-screen.scss'

import SwiperCore, { Navigation, EffectFade, Virtual } from 'swiper';
import { Swiper, SwiperSlide } from 'swiper/vue';

SwiperCore.use([ Navigation, EffectFade, Virtual ]);

export default {
  name: "FirstScreen",

  components: {
    Swiper,
    SwiperSlide,
  },

  data() {
    return {
      slider: [ "slide-1", 'slide-2', 'slide-3' ],
    }
  },

}
</script>
