<template>
  <section class='block-fact' id='architecture'>

    <div class='fact'>

      <p class='block-fact-title'>{{ fact.title }}</p>
      <p class='block-fact-text' v-html="fact.text"></p>

    </div>

  </section>
</template>

<script>

import "./fact.scss"

export default {
  name: "Fact",
  props: {
    fact: Object
  }
}
</script>
