@import "src/style/virables";
@import "src/style/mixins";

.block-fact {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  @include responsive(margin-bottom, 230, 50, 'limited');
  padding: 0 20px;

  &-title {
    text-align: center;
    font-family: $CoFoSans;
    @include responsive-font(32, 16);
    @include responsive-line-height(40, 20);
    @include responsive(margin-bottom, 50, 25, 'limited');
  }

  &-text {
    text-align: center;
    font-family: $SangBleuEmpire;
    @include responsive-font(80, 30);
    @include responsive-line-height(120, 44);

    img {
      @include responsive(width, 115, 42, 'limited');
      @include responsive(height, 86, 31, 'limited');
      display: inline;
    }

    .bg-elem {
      position: relative;
      display: inline-block;

      &::before {
        content: '';
        position: absolute;
        top: calc(50% - 35px);
        left: 0;
        width: 110%;
        height: 65px;
        border-radius: 50%;
        border: 2px solid $accent-color;
        z-index: -1;
      }
    }

  }
}
