@import "src/style/mixins";
@import "src/style/virables";

.advantages {
  @include responsive(margin-bottom, 125, 0, 'limited');
  background: $main-bg;

  &-header {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
    @include responsive(grid-column-gap, 285, 10, 'limited');
    @include responsive(margin-bottom, 85, 50, 'limited');

    @media screen and (max-width: 1024px) {
      grid-template-columns: 1fr;
    }
    @media screen and (max-width: 560px) {
      grid-template-columns: 1fr;
      grid-template-rows: 2fr;
    }

    &__title {
      font-family: $SuisseIntlRegular;
      font-size: 28px;
      line-height: 36px;
      letter-spacing: -8%;
    }

    &__desc {
      font-family: $SuisseIntlRegular;
      @include responsive-font(28, 16);
      @include responsive-line-height(36, 24);
    }
  }

  &-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content;
    @include responsive(grid-column-gap, 285, 10, 'limited');
    grid-template-areas:
    "advantage-1 advantage-3"
    "advantage-2 advantage-3"
    "advantage-5 advantage-4"
    "advantage-5 advantage-6"
    "advantage-7 advantage-10"
    "advantage-8 advantage-10"
    "advantage-9 advantage-11";

    @media screen and (max-width: 1024px) {
      display: flex;
      flex-direction: column;
    }
  }


  %rightBlock {
    .block-number {
      position: relative;
      max-width: 100%;
      margin-left: 0;
      left: -112px;
      @media screen and (max-width: 1200px) {
        left: 0;
      }
    }
  }

  %indent-bottom {
    @media screen and (min-width: 1024px) {
      @include responsive(margin-bottom, 150, 50, 'limited');
    }
  }

  %indent-top {
    @media screen and (min-width: 1024px) {
      @include responsive(padding-top, 85, 50, 'limited');
    }
  }

  #block-1 {
    grid-area: advantage-1;
    @media screen and (min-width: 1024px) {
      margin-bottom: 40px;
    }
  }

  #block-2 {
    grid-area: advantage-2;
  }

  #block-3 {
    grid-area: advantage-3;
    @extend %indent-bottom;
  }

  #block-4 {
    grid-area: advantage-4;
    @extend %rightBlock;
    @extend %indent-bottom;
  }

  #block-5 {
    grid-area: advantage-5;
    @extend %indent-bottom;

    .img--big {
      object-fit: cover;
    }
  }

  #block-6 {
    grid-area: advantage-6;
    @extend %rightBlock;
    @extend %indent-bottom;
  }

  #block-7 {
    grid-area: advantage-7;
  }

  #block-8 {
    grid-area: advantage-8;
  }

  #block-9 {
    grid-area: advantage-9;
    @extend %indent-top;
  }

  #block-10 {
    grid-area: advantage-10;
  }

  #block-11 {
    grid-area: advantage-11;
    @extend %rightBlock;
    @extend %indent-top;
  }

  .img-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    overflow: hidden;

    @media screen and (max-width: 1465px) and (min-width: 1025px) {
      margin-bottom: vw(30px);
    }
    @media screen and (max-width: 1024px) {
      grid-gap: 20px;
    }
  }

  .img--big {

    img {
      width: 100%;
      height: 100%;
      min-height: 200px;
      max-height: 760px;
      object-fit: cover;
    }

  }

  .img--border {
    @media screen and (min-width: 1024px) {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      border: {
        top: 105px solid $border-color;
        bottom: 75px solid $border-color;
      }
      background: #ffffff;

      img {
        max-height: 495px;
      }
    }
  }

  .advantages-block {
    @media screen and (max-width: 1024px) {
      margin-bottom: 50px;
    }

    .block-number {
      width: 100%;
      max-width: 495px;
      margin-left: auto;

      @media screen and (max-width: 1560px) {
        margin-left: 0;
        max-width: 100%;
      }

      .number {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        @include responsive(width, 112, 80, 'limited');
        @include responsive(height, 112, 80, 'limited');
        @include responsive(margin-right, 30, 15, 'limited');
        border-radius: 50%;
        background: $accent-color;
        font-family: $RobotoSlab;
        @include responsive-font(75, 50);
        @include responsive-line-height(75, 35);
      }

      &__top {
        display: flex;
        align-items: center;
        height: 112px;

        &-title {
          font-family: $SuisseIntlBold;
          @include responsive-font(24, 20);
          @include responsive-line-height(31, 25);
          letter-spacing: -1.5%;
        }
      }

      &__text {
        padding-left: 30px;
        @include responsive(margin-left, 112, 60, 'limited');
        font-family: $SuisseIntlRegular;
        @include responsive-font(24, 16);
        @include responsive-line-height(29, 24);
      }
    }
  }
}
