<template>
  <section class='advantages'>
    <div class='container'>

      <div class='advantages-header'>
        <p class='advantages-header__title'>ИНТЕРЬЕРЫ</p>
        <p class='advantages-header__desc'>Посмотрите на интерьеры одних из лучших аппартаментов Москвы</p>
      </div>

      <div class='advantages-container'>
        <div class='advantages-block' id='block-1'>
          <div class='img-group'>
              <img class='img' :src="require(`@/assets/images/advantages/1.jpg`)" alt='' loading='lazy'>
              <img class='img' :src="require(`@/assets/images/advantages/2.jpg`)" alt='' loading='lazy'>
          </div>
        </div>
        <div class='advantages-block' id='block-2'>
          <div class='block-number'>
            <div class='block-number__top'>
              <p class='block-number__top-number number'>1</p>
              <p class='block-number__top-title'>Материалы и отделка</p>
            </div>
            <p class='block-number__text'>
              Входные двери выполнены по авторскому проекту с&nbsp;декоративными вставками из бронзы.
            </p>
          </div>
        </div>
        <div class='advantages-block' id='block-3'>
            <img  class='img--big' :src="require(`@/assets/images/advantages/3.jpg`)" alt='' loading='lazy'>
        </div>
        <div class='advantages-block' id='block-4'>
          <div class='block-number'>
            <div class='block-number__top'>
              <p class='block-number__top-number number'>2</p>
              <p class='block-number__top-title'>Архитектура </p>
            </div>
            <p class='block-number__text'>
              Архитектура особняка&nbsp;&mdash; это оригинальная вариация раннего модерна с&nbsp;классическими формами, обозначенными с&nbsp;помощью естественного камня в&nbsp;отделке фасада, а&nbsp;такжеизящными элементами ар-нуво. <br>
              <br> Козырьки парадного входа со&nbsp;стороны Большой Якиманки, а&nbsp;также входные двери выполнены по&nbsp;авторскому проекту с&nbsp;декоративными вставками из&nbsp;бронзы.
            </p>
          </div>
        </div>
        <div class='advantages-block' id='block-5'>
            <img class='img--big img--border' :src="require(`@/assets/images/advantages/4.jpg`)" alt='' loading='lazy'>
        </div>
        <div class='advantages-block' id='block-6'>
          <div class='block-number'>
            <div class='block-number__top'>
              <p class='block-number__top-number number'>3</p>
              <p class='block-number__top-title'>Декоративные элементы</p>
            </div>
            <p class='block-number__text'>
              Козырьки парадного входа со стороны Большой Якиманки, а&nbsp;также входные двери выполнены по авторскому проекту с&nbsp;декоративными вставками из бронзы.
            </p>
          </div>
        </div>
        <div class='advantages-block' id='block-7'>
          <div class='img-group'>
              <img class='img' :src="require(`@/assets/images/advantages/5.jpg`)" alt='' loading='lazy'>
              <img class='img' :src="require(`@/assets/images/advantages/6.jpg`)" alt='' loading='lazy'>
          </div>
        </div>
        <div class='advantages-block' id='block-8'>
          <div class='block-number'>
            <div class='block-number__top'>
              <p class='block-number__top-number number'>4</p>
              <p class='block-number__top-title'>Интерьеры</p>
            </div>
            <p class='block-number__text'>
              Интерьеры, отличающиеся французским шиком и&nbsp;утон- чённостью, разработаны декоратором и&nbsp;коллекцио- нером антиквариата Жаком Гранжем.
            </p>
          </div>
        </div>
        <div class='advantages-block' id='block-9'>
          <div class='block-number'>
            <div class='block-number__top'>
              <p class='block-number__top-number number'>5</p>
              <p class='block-number__top-title'>Интерьеры</p>
            </div>
            <p class='block-number__text'>
              Интерьеры, отличающиеся французским шиком и утон- чённостью, разработаны декоратором и коллекцио- нером антиквариата Жаком Гранжем.
            </p>
          </div>
        </div>
        <div class='advantages-block' id='block-10'>
            <img class='img--big' :src="require(`@/assets/images/advantages/7.jpg`)" alt='' loading='lazy'>
        </div>
        <div class='advantages-block' id='block-11'>
          <div class='block-number'>
            <div class='block-number__top'>
              <p class='block-number__top-number number'>6</p>
              <p class='block-number__top-title'>Декоративные элементы</p>
            </div>
            <p class='block-number__text'>
              Архитектура особняка&nbsp;&mdash; это оригинальная вариация раннего модерна с&nbsp;классическими формами, обозначенными с&nbsp;помощью естественного камня в&nbsp;отделке фасада, а&nbsp;также изящными элементами ар-нуво.
              <br><br> Козырьки парадного входа со&nbsp;стороны Большой Якиманки, а&nbsp;также входные двери выполнены по&nbsp;авторскому проекту с&nbsp;декоративными вставками из&nbsp;бронзы.
            </p>
          </div>
        </div>
      </div>

    </div>
  </section>
</template>

<script>

import "./advantages.scss"

export default {
  name: "Advantages",

  data() {
    return {
      imgURL: '@/assets/images/advantages',
    }
  }
}
</script>

