<template>
  <section class='info-apartments__wrapper'>
    <div class='info-apartments'>

      <div class='info-apartments__column' v-for='column in columns' :key='column'>
        <p class='info-apartments__column-top'>{{ column.top }}</p>
        <div class='info-apartments__column-body'>
          <p class='info-apartments__column-body-row'> {{ column.row1 }} </p>
          <p class='info-apartments__column-body-row'> {{ column.row2 }} </p>
        </div>
        <p class='info-apartments__column-bottom'>{{ column.bottom }}</p>
      </div>

    </div>
  </section>
</template>

<script>
import "./info-apartments.scss"

export default {
  name: "InfoApartments",

  data() {
    return {
      columns: [
        {
          top: "ПЛОЩАДЬ АПАРТАМЕНТОВ",
          row1: "137–265 ",
          row2: "1689 ",
          bottom: "МЕТРОВ ДО КРЕМЛЯ"
        }, {
          top: "МЕСТО СРЕДИ НОВОСТРОЕК МОСКВЫ",
          row1: "5",
          row2: "50",
          bottom: "ПАРКОВОЧНЫХ МЕСТ"
        }, {
          top: "КВАРТИР В ДОМЕ",
          row1: "36",
          row2: "7",
          bottom: "МАГАЗИНОВ В ДОМЕ"
        },
      ]
    }
  }
}
</script>


