@import "src/style/virables";
@import "src/style/mixins";

@mixin border($value) {
  @media screen and ($value) {
    position: relative;
    padding: 0 vw(100px);
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: calc(100% - 100px);
      padding: 50px 0;
      margin: 50px 0;
      border: {
        top: 1px solid #000000;
        bottom: 1px solid #000000;
      };
    }
  }
}

.info-apartments__wrapper {
  @include border('min-width: 941px');
  background: #ffffff;

  .info-apartments {
    display: flex;
    justify-content: space-between;
    max-width: 1920px;
    margin: 0 auto;
    @include responsive(margin-bottom, 50, 30, 'limited');



    @media screen and (max-width: 940px) {
      flex-direction: column;
    }

    %top-bottom {
      display: flex;
      align-items: center;
      @include responsive(height, 40, 55, 'limited');
      font-family: $Helvetica;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.15em;
    }

    &__column {
      position: relative;
      display: flex;
      flex-direction: column;

      @include border('max-width: 940px');

      &-top {
        @extend %top-bottom;
      }

      &-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px 0;
        flex-grow: 1;

        &-row {
          white-space: nowrap;
          font-family: $HelveticaNeueCyr;
          @include responsive-font(145, 50);
          @include responsive-line-height(135, 50);
        }
      }

      @media screen and (min-width: 941px) {
        &:last-child {
          p {
            text-align: right;
            justify-content: flex-end;
          }
        }
      }
      @media screen and (max-width: 940px) {
        &:nth-of-type(2) {
          order: -1;
        }
      }

      &-bottom {
        @extend %top-bottom;
      }
    }
  }
}

