<template>
  <section class='cards'>
    <div class='container'>
      <div v-for='card in cards' :key='card'>
        <div class='card'>
            <img class='card-picture' :src='require(`@/assets/images/cards/${card.img}.jpg`)' alt='' loading='lazy'>
          <div class='card-text'>
            <div class='card-text__content'>
              <p class='card-address'>{{ card.address }}</p>
              <p class='card-name'>{{ card.name }}</p>
            </div>
            <button class='card-button' data-anchor='#form' @click='anchor'></button>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>

import "./cards.scss"

export default {
  name: 'Cards',
  data() {
    return {
      cards: [
        {
          img: '1',
          address: 'Москва, Пирогово',
          name: 'Курорт Пирогово',
        }, {
          img: '2',
          address: 'Москва,',
          name: 'Столешников, 7',
        }, {
          img: '3',
          address: 'Москва,',
          name: 'Курорт Пирогово',
        }, {
          img: '4',
          address: 'Москва, Пирогово',
          name: 'Курорт Пирогово',
        }, {
          img: '5',
          address: 'Москва, Пирогово',
          name: 'Столешников, 7',
        }, {
          img: '6',
          address: 'Москва, Пирогово',
          name: 'Столешников, 7',
        }
      ],
    }
  },
  methods: {
    anchor: function(event) {
      this.$emit('anchor', event);
    }
  }
}
</script>
