@import "src/style/virables";
@import "src/style/mixins";

.cards {
  @include responsive(margin-bottom, 60, 40, 'limited');

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: vw(50px);
    padding: 0;

    @media screen and (max-width: 850px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 375px) {
      grid-template-columns: 1fr;
    }
  }

  .card {

    &-text {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include responsive(padding-top, 20, 10, 'limited');
      margin-right: vw(40px);

      &__content {
          padding: 0 10px;

        .card-address {
          font-family: $SuisseIntlBold;
          @include responsive-font(16, 10);
          @include responsive-line-height(16, 14);
        }

        .card-name {
          padding-top: 10px;
          font-family: $CoFoRobert;
          font-size: vw(40px);
          white-space: nowrap;
          @include responsive-line-height(40, 14);
          @media screen and (max-width: 1024px) {
            @include responsive-font(21, 14);
            padding-top: 5px;
          }
        }
      }

      .card-button {
        display: flex;
        justify-content: center;
        align-items: center;
        @include responsive(width, 104, 40, 'limited');
        @include responsive(height, 104, 40, 'limited');
        border-radius: 50px;
        transform: scale(-1, -1);
        flex-shrink: 0;
        background: $accent-color;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 50px;
          background: url("../../assets/images/arrow.svg") no-repeat 50% 50%/20%;
          z-index: 11;
        }

        &:hover {
          cursor: pointer;
          &::after {
            content: '';
            position: absolute;
            background: #000000;
            border-radius: 50px;
            z-index: 1;
            opacity: .05;
            animation: animationName .2s ease-in-out forwards;

            @keyframes animationName {
              0% {
                width: 0;
                height: 0;
              }
              100% {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
    }
  }
}
