<template>
  <section class='apartments'>

    <Video/>

    <ul id='apartments'>
      <li class='apartments-list' data-anchor='#form' v-for='(list, index) in listApartments' :key='index' @click='anchor'>

        <p class='apartments-list__header'>АППАРТАМЕНТЫ №{{ index + 2 }}</p>

        <ul class='apartments-list__columns'>
          <li class='column'>
            <p class='column-body'>{{ list.storey }}</p>
            <p class='column-footer'>ЭТАЖ</p>
          </li>
          <li class='column'>
            <p class='column-body'>{{ list.meters }}</p>
            <p class='column-footer'>КВАДРАТНЫХ МЕТРОВ</p>
          </li>
          <li class='column'>
            <p class='column-body'>{{ list.bedrooms }}</p>
            <p class='column-footer'>СПАЛЬНИ</p>
          </li>
          <li class='column'>
            <p class='column-body'>{{ list.cost }}</p>
            <p class='column-footer'>РУБЛЕЙ</p>
          </li>
        </ul>

      </li>
    </ul>

  </section>
</template>

<script>
import Video from './Video'
import "./apartments.scss"

export default {

  name: 'Apartments',

  data() {
    return {
      listApartments: [
        {
          storey: '2',
          meters: '212',
          bedrooms: '2',
          cost: '127 260 000'
        }, {
          storey: '2',
          meters: '212',
          bedrooms: '2',
          cost: '127 260 000'
        }, {
          storey: '2',
          meters: '212',
          bedrooms: '2',
          cost: '127 260 000'
        }, {
          storey: '2',
          meters: '212',
          bedrooms: '2',
          cost: '127 260 000'
        }, {
          storey: '2',
          meters: '212',
          bedrooms: '2',
          cost: '127 260 000'
        }
      ],
    }
  },


  components: {
    Video
  },

  methods: {
    anchor: function(event) {
      this.$emit('anchor', event);
    }
  }
}
</script>
