@import "src/style/mixins";
@import "src/style/virables";

.apartments {
  @include responsive(margin-bottom, 80, 40, 'limited');

  .video {
    width: 100%;
    height: vw(870px);
    min-height: 170px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 100vw;
      height: calc(100% - 110px);
      border-top: 1px solid #000000;
      @media screen and (max-width: 1200px) {
        height: calc(100% - 90px);
      }
      @media screen and (min-width: 769px) {
        border-bottom: 1px solid #000000;
      }
    }

    &:hover {
      transition: all .4s ease-in;
      background: $accent-color;
      cursor: pointer;
    }

    &__header {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 0 vw(100px);
      @include responsive(height, 60, 50, 'limited');
      font-family: $SuisseIntlRegular;
      @include responsive-font(30, 20);
      @include responsive-line-height(39, 26);
    }

    &__columns {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0 vw(100px);
      border-bottom: 4px solid #000000;

      @media screen and (max-width: 768px) {
        display: grid;
        grid-template-columns: 20% auto;
        grid-template-rows: auto;
        grid-gap: 30px;
      }

    }

    .column {
      @media screen and (min-width: 769px) {
        &:last-child {
          p {
            text-align: right;
            justify-content: flex-end;
          }
        }
      }
      @media screen and (max-width: 768px) {
        &:nth-of-type(even) {
          p {
            text-align: right;
            justify-content: flex-end;
          }
        }
      }

      &-body {
        font-family: $HelveticaNeueCyr;
        @include responsive-font(145, 35);
        @include responsive-line-height(145, 35);
        @media screen and (max-width: 1200px) {
          @include responsive-font(95, 35);
          @include responsive-line-height(95, 35);
        }
      }

      &-footer {
        display: flex;
        align-items: center;
        @include responsive(height, 60, 50, 'limited');
        font-family: $Helvetica;
        font-size: 12px;
        line-height: 13px;
        @media screen and (max-width: 768px) {
          height: 20px;
          margin-bottom: 10px;
        }
      }
    }
  }
}
