<template>
  <section class='video-wrapper'>

    <video class='video' :poster='require(`@/assets/images/plug.jpg`)'>
      <!--      <source src="movie.webm" type='video/webm; codecs="vp8, vorbis"' />-->
      <!--      <source src="movie.ogv" type='video/ogg; codecs="theora, vorbis"' />-->
    </video>
    <button class='button-play'></button>

  </section>
</template>

<script>

import './apartments.scss'

export default {
  name: "Video"
}
</script>

<style lang='scss' scoped>
@import "src/style/mixins";
@import "src/style/virables";

.video-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-play {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 177px;
  height: 177px;
  background: $accent-color;
  border-radius: 50%;
  z-index: 1000;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    left: 38%;
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-left: 60px solid #000000;
    border-bottom: 35px solid transparent;
  }

  &:hover::before {
      left: 37%;
      border-top: 40px solid transparent;
      border-left: 70px solid #000000;
      border-bottom: 40px solid transparent;
      transition: all .2s ease-in;
    }

}

</style>
