<template>
  <header class='header' id='header'>
    <div class='container'>
      <div class='header-content'>

        <div class='icons' :class="[iconsFixed ? 'icons--fixed' : false,
                      mobMenuActive ? 'icons--max-height' : 'icons--min-height']">
          <a class='button-up'
             role='button'
             data-anchor='#header'
             :class="[buttonUp ? 'button-up--show' : false]"
             @click='anchor'>
          </a>
          <a class='button-menu' role='button' @click='mobMenu'></a>
          <ul class='mob-menu' :class="[mobMenuActive ? 'mob-menu--active' : false]" v-if='isMobile'>
            <li class='menu-item' v-for='(item, index) in menu' :key='index'>
              <a role='button' :data-anchor=item.anchor
                 @click='makeActive(item, $event)'>{{ item.name }}</a>
            </li>
            <li class='menu-item'><a href='tel:+74952345678'>234-56-78</a></li>
          </ul>
          <a class='button-phone' role='button' data-anchor='#form' @click='anchor'></a>
        </div>

        <nav class='menu' v-if='!isMobile'>
          <ul class='menu-items'>
            <li v-for='(item, index) in menu' :key='index'>
              <a class='menu-item' role='button' :data-anchor=item.anchor
                 @click='makeActive(item, $event)'>{{ item.name }}</a>
            </li>
          </ul>
          <a class='number-phone' href='tel:+74952345678'>234-56-78</a>
        </nav>

        <div class='logo'>
          <img :src='require(`@/assets/images/logo.svg`)' alt='Mozaik Group'>
        </div>

      </div>
    </div>
  </header>
</template>

<script>
import "./header.scss"

export default {
  name: "Header",

  data() {

    return {

      activeItem: 'АРХИТЕКТУРА',
      menu: [
        {
          name: 'АРХИТЕКТУРА',
          anchor: "#architecture"
        }, {
          name: 'ОКРУЖЕНИЕ',
          anchor: "#form"
        }, {
          name: 'АППАРТАМЕНТЫ',
          anchor: "#apartments"
        }, {
          name: 'КОНТАКТЫ',
          anchor: "#form"
        }
      ],
      mobMenuActive: false,

      isMobile: false,
      iconsFixed: false,
      buttonUp: false,
    }
  },

  methods: {
    anchor: function(event) {
      this.$emit('anchor', event);
      this.mobMenuActive = false;
    },

    changeHeaderFixed: function () {
      if (screen.width > 1025) {
        this.iconsFixed = window.scrollY >= 800;
        this.buttonUp   = window.scrollY >= 800;
        this.isMobile = window.scrollY >= 800;
        window.scrollY < 800 ? this.mobMenuActive = false: null
      }
    },

    mobMenu: function () {
      if (screen.width < 1200) {
        this.mobMenuActive = !this.mobMenuActive;
      } else {
        window.scrollY >= 800 ? this.mobMenuActive = !this.mobMenuActive : false
      }
    },

    makeActive: function (item, event) {
      this.active     = item;
      this.activeItem = item
      this.anchor(event)
    }
  },

  mounted() {
    window.addEventListener('resize', () => {
      this.isMobile = window.innerWidth < 1200
    })

    window.addEventListener('scroll', () => {
      this.changeHeaderFixed();
    })

    this.isMobile = window.innerWidth < 1200
  }
}
</script>
