@import "src/style/virables";
@import "src/style/mixins";

.header {
  width: 100%;
  min-height: 155px;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(225, 222, 0, 0.9914) 0%, rgba(0, 0, 0, 0) 28%);

  .container {
    width: inherit;
    height: inherit;
  }

  &-content {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;

    $indentTop: 65px;

    .icons {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: auto;
      height: 100vh;
      max-height: 130px;
      padding-top: 5px;

      @media screen and (max-width: 1200px) {
        position: absolute;
        top: 0;
        z-index: 110;
      }

      &--max-height {
        position: absolute;
        transition: all .2s ease-in;
        max-height: 370px;
        padding-bottom: 60px;

        &::before {
          content: '';
          position: absolute;
          top: -20px;
          left: -5vw;
          width: 105vw;
          height: calc(100% + 20px);
          max-height: 400px;
          background: rgba(255, 255, 255, .8);
          z-index: -2;
          @media screen and (max-width: 426px) {
            height: 100vh;
            max-height: 100vh;
          }
        }
      }

      &--min-height {
        transition: all .2s ease-in;
        max-height: 130px;
      }

      a {
        position: relative;
        display: block;
        text-decoration: none;
      }

      %buttonHover {
        &:hover {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            background: $accent-color;
            border-radius: 50px;
            z-index: -1;

            animation: animIcon .4s ease-in-out forwards;
            @keyframes animIcon {
              100% {
                width: 104px;
                height: 104px;
              }
            }
          }
        }
      }

      .button-up {
        position: relative;
        width: 50px;
        height: 22px;
        opacity: 0;
        @include responsive(height, 22, 18, 'limited');
        transform: rotate(90deg);

        &::before {
          content: '';
          position: absolute;
          width: 36px;
          height: 22px;
          background: url("#{$url}assets/images/arrow.svg") no-repeat 50% 50%/50%;
        }
        @extend %buttonHover;
        &--show {
          opacity: 1;
        }
      }

      .button-menu {
        max-width: 50px;
        @include responsive(height, 22, 18, 'limited');
        border: {
          top: 2px solid #000000;
          bottom: 2px solid #000000;
        }

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          height: 2px;
          background: #000;
        }

        @extend %buttonHover;
      }

      .mob-menu {
        height: 0;
        opacity: 0;
        transition: all .2s ease-in;

        .menu-item {
          font-size: 17px;
          line-height: 19px;

          &:nth-child(n):not(:last-child) {
            margin-bottom: 12px;
          }

          &:hover {
            color: $accent-color;
            transition: all .2s ease-in;
          }

        }

        &--active {
          height: 135px;
          opacity: 1;
          transition: all .2s ease-in;
        }
      }

      .button-phone {
        display: flex;
        width: 34px;
        height: 32px;
        margin-left: 10px;
        background: url("#{$url}assets/images/icon-phone.svg") no-repeat 50% 50%/95%;
        @media screen and (max-width: 1200px) {
          margin: 0 0 0 10px;
        }
        @extend %buttonHover;
      }

    }

    .icons--fixed {
      position: fixed;
      top: -100%;
      animation: iconsFixed .5s ease-in-out forwards;
      z-index: 100;

      @keyframes iconsFixed {
        100% {
          top: 20px;
        }
      }
    }

    .menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-grow: 1;
      height: 85px;
      padding: 0 3.91vw 0;

      @media screen and (max-width: 1200px) {
        display: none !important;
      }


      &-items {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 850px;
        margin-right: 60px;
      }

      &-item {
        font-family: $roboto;
        @include responsive-font(17, 10);
        @include responsive-line-height(20, 18);
        letter-spacing: 3px;

        &:nth-child(n):not(:last-child) {
          margin-right: 30px;
        }

        &:hover {
          padding-bottom: 9px;
          border-bottom: 4px solid $text-color;
          transition: all .1s ease-in-out;
          cursor: pointer;
        }
      }
    }

    .number-phone {
      display: flex;
      flex-shrink: 0;
      margin-left: auto;
      font-family: $CoFoSans;
      @include responsive-font(42, 26);
      @include responsive-line-height(53, 25);
      font-weight: bold;
    }

    .logo {
      @media screen and (max-width: 1200px) {
        margin-left: auto;
      }

      img {
        @include responsive(width, 198, 155, 'limited');
        @include responsive(height, 198, 155, 'limited');
      }
    }
  }
}
