$way: '../public/fonts';

@mixin font($f-name, $f-style, $f-weight, $f-url, $f-format) {

  @font-face {
    font-family: $f-name;
    font-style: $f-style;
    font-weight: $f-weight;
    src: url($f-url) format($f-format);
    font-display: swap;
  }
}

@include font('roboto', Regular, 400, '#{$way}/Roboto/Roboto-Regular.eot', 'eot');
@include font('roboto', Regular, 400, '#{$way}/Roboto/Roboto-Regular.ttf', 'ttf');
@include font('roboto', Regular, 400, '#{$way}/Roboto/Roboto-Regular.woff', 'woff');
@include font('roboto', Regular, 400, '#{$way}/Roboto/Roboto-Regular.woff2', 'woff2');

@include font('CoFoSans', Normal, 400, '#{$way}/CoFoSans/CoFoSans-Regular.eot', 'eot');
@include font('CoFoSans', Regular, 400, '#{$way}/CoFoSans/CoFoSans-Regular.ttf', 'ttf');
@include font('CoFoSans', Regular, 400, '#{$way}/CoFoSans/CoFoSans-Regular.woff', 'woff');
@include font('CoFoSans', Regular, 400, '#{$way}/CoFoSans/CoFoSans-Regular.woff2', 'woff2');

@include font('ManegeLight', Light, 300, '#{$way}/Manege/Manege-Light.eot', 'eot');
@include font('ManegeLight', Light, 300, '#{$way}/Manege/Manege-Light.ttf', 'ttf');
@include font('ManegeLight', Light, 300, '#{$way}/Manege/Manege-Light.woff', 'woff');
@include font('ManegeLight', Light, 300, '#{$way}/Manege/Manege-Light.woff2', 'woff2');

@include font('SuisseIntlLight', Light, 300, '#{$way}/SuisseIntl/SuisseIntl-Light.eot', 'eot');
@include font('SuisseIntlLight', Light, 300, '#{$way}/SuisseIntl/SuisseIntl-Light.ttf', 'ttf');
@include font('SuisseIntlLight', Light, 300, '#{$way}/SuisseIntl/SuisseIntl-Light.woff', 'woff');
@include font('SuisseIntlLight', Light, 300, '#{$way}/SuisseIntl/SuisseIntl-Light.woff2', 'woff2');

@include font('SuisseIntlRegular', Regular, 400, '#{$way}/SuisseIntl/SuisseIntl-Regular.eot', 'eot');
@include font('SuisseIntlRegular', Regular, 400, '#{$way}/SuisseIntl/SuisseIntl-Regular.ttf', 'ttf');
@include font('SuisseIntlRegular', Regular, 400, '#{$way}/SuisseIntl/SuisseIntl-Regular.woff', 'woff');
@include font('SuisseIntlRegular', Regular, 400, '#{$way}/SuisseIntl/SuisseIntl-Regular.woff2', 'woff2');

@include font('SuisseIntlBold', Bold, 700, '#{$way}/SuisseIntl/SuisseIntl-Bold.eot', 'eot');
@include font('SuisseIntlBold', Bold, 700, '#{$way}/SuisseIntl/SuisseIntl-Bold.ttf', 'ttf');
@include font('SuisseIntlBold', Bold, 700, '#{$way}/SuisseIntl/SuisseIntl-Bold.woff', 'woff');
@include font('SuisseIntlBold', Bold, 700, '#{$way}/SuisseIntl/SuisseIntl-Bold.woff2', 'woff2');

@include font('SangBleuEmpire', Regular, 400, '#{$way}/SangBleuEmpire/SangBleuEmpire-RegularItalic.eot', 'eot');
@include font('SangBleuEmpire', Regular, 400, '#{$way}/SangBleuEmpire/SangBleuEmpire-RegularItalic.ttf', 'ttf');
@include font('SangBleuEmpire', Regular, 400, '#{$way}/SangBleuEmpire/SangBleuEmpire-RegularItalic.woff', 'woff');
@include font('SangBleuEmpire', Regular, 400, '#{$way}/SangBleuEmpire/SangBleuEmpire-RegularItalic.woff2', 'woff2');

@include font('Helvetica', Regular, 400, '#{$way}/Helvetica/Helvetica-Regular.eot', 'eot');
@include font('Helvetica', Regular, 400, '#{$way}/Helvetica/Helvetica-Regular.ttf', 'ttf');
@include font('Helvetica', Regular, 400, '#{$way}/Helvetica/Helvetica-Regular.woff', 'woff');
@include font('Helvetica', Regular, 400, '#{$way}/Helvetica/Helvetica-Regular.woff2', 'woff2');

@include font('HelveticaNeueCyr', Regular, 400, '#{$way}/HelveticaNeueCyr/HelveticaNeueCyr-Roman.eot', 'eot');
@include font('HelveticaNeueCyr', Regular, 400, '#{$way}/HelveticaNeueCyr/HelveticaNeueCyr-Roman.ttf', 'ttf');
@include font('HelveticaNeueCyr', Regular, 400, '#{$way}/HelveticaNeueCyr/HelveticaNeueCyr-Roman.woff', 'woff');
@include font('HelveticaNeueCyr', Regular, 400, '#{$way}/HelveticaNeueCyr/HelveticaNeueCyr-Roman.woff2', 'woff2');

@include font('RobotoSlab', Regular, 400, '#{$way}/RobotoSlab/RobotoSlab-Regular.eot', 'eot');
@include font('RobotoSlab', Regular, 400, '#{$way}/RobotoSlab/RobotoSlab-Regular.ttf', 'ttf');
@include font('RobotoSlab', Regular, 400, '#{$way}/RobotoSlab/RobotoSlab-Regular.woff', 'woff');
@include font('RobotoSlab', Regular, 400, '#{$way}/RobotoSlab/RobotoSlab-Regular.woff2', 'woff2');

@include font('CoFoRobert', Regular, 400, '#{$way}/CoFoRobert/CoFoRobert-RegularItalic.eot', 'eot');
@include font('CoFoRobert', Regular, 400, '#{$way}/CoFoRobert/CoFoRobert-RegularItalic.ttf', 'ttf');
@include font('CoFoRobert', Regular, 400, '#{$way}/CoFoRobert/CoFoRobert-RegularItalic.woff', 'woff');
@include font('CoFoRobert', Regular, 400, '#{$way}/CoFoRobert/CoFoRobert-RegularItalic.woff2', 'woff2');
