/* Responsives --------------------------------------------------- */
$maxWidth: 1920;
$minWidth: 375;

@function vw($px-vw){
  @return ($px-vw * 100vw) / 1920px;
}

@function vh($px-vh){
  @return ($px-vh * 100vh) / 1080px;
}

@mixin responsive-font($descSize, $mobSize) {

  $addSize: $descSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;

  font-size: #{$descSize}px;

  @media screen and (max-width: #{$maxWidth}px) {
    font-size: calc(#{$mobSize}px + #{$addSize} * (100vw / #{$maxWidth}));
  }

  @media screen and (max-width: 767px) {
    font-size: calc(#{$mobSize}px + #{$addMobSize} * ((100vw - #{$minWidth}px) / #{$maxWidth}));
  }
}

@mixin responsive-line-height($descSize, $mobSize) {

  $addSize: $descSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;

  line-height: #{$descSize}px;

  @media screen and (max-width: #{$maxWidth}px) {
    line-height: calc(#{$mobSize}px + #{$addSize} * (100vw / #{$maxWidth}));
  }

  @media screen and (max-width: 767px) {
    line-height: calc(#{$mobSize}px + #{$addMobSize} * ((100vw - #{$minWidth}px) / #{$maxWidth}));
  }
}

@mixin responsive($property, $desc, $mob, $type) {
  @if ($type=='limited') {
    #{$property}: #{$desc + px};
    @media screen and (max-width: #{$maxWidth + px}) {
      #{$property}: calc(#{$mob + px} + (#{$desc} - #{$mob}) * ((100vw - #{$minWidth + px}) / (#{$maxWidth} - #{$minWidth})));
    }
    @media screen and (max-width: #{$minWidth + px}) {
      #{$property}: #{$mob + px};
    }
  } @else {
    #{$property}: calc(#{$mob + px} + (#{$desc} - #{$mob}) * ((100vw - #{$minWidth + px}) / (#{$maxWidth} - #{$minWidth})));
  }
}

/* Elements ------------------------------------------------------- */
@mixin buttonSlider($min, $max) {
  border-radius: 50px;
  @include responsive(width, $min, $max, 'limited');
  @include responsive(height, $min, $max, 'limited');
  background: $accent-color url("#{$url}assets/images/arrow.svg") no-repeat 50% 50%/20%;
  cursor: pointer;
  z-index: 1000;
}

