$url: '../../';

// Color
$main-bg: #F6F8FA;
$text-color: #000000;
$accent-color: #e1de00;
$border-color: #D2D2D3;

// Fonts
$roboto: 'roboto';
$CoFoSans: 'CoFoSans';
$ManegeLight: 'ManegeLight';
$SuisseIntlLight: 'SuisseIntlLight';
$SuisseIntlRegular: 'SuisseIntlRegular';
$SuisseIntlBold: 'SuisseIntlBold';
$PTSerifRegular: 'PTSerif-Regular';
$SangBleuEmpire: 'SangBleuEmpire';
$Helvetica: 'Helvetica';
$HelveticaNeueCyr: 'HelveticaNeueCyr';
$RobotoSlab: 'RobotoSlab';
$CoFoRobert: 'CoFoRobert';
