@import "fonts";
@import "reset";
@import "virables";
@import "mixins";

/* Slider «Swiper» */
@import './node_modules/swiper/swiper.scss';
@import './node_modules/swiper/components/navigation/navigation.scss';
@import './node_modules/swiper/components/effect-fade/effect-fade.scss';

/* Components */
/*
@import "./components/hedaer";
@import "./components/first-screen";
@import "./components/fact";
@import "./components/info-apartemens";
@import "./components/advantages";
@import "./components/slider";
@import "./components/apartments";
@import "./components/map";
@import "./components/form";
@import "./components/cards";
*/

body {
  background: $main-bg;

  .main-wrapper {
    overflow: hidden;
  }

}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;

  @media screen and (max-width: 1980px) {
    padding: 0 40px;
  }
  @media screen and (max-width: 1200px) {
    padding: 0 5vw;
  }
  @media screen and (max-width: 690px) {
    padding: 0 4vw;
  }
}
