<template>

  <main class='main-wrapper'>
    <Header @anchor='anchor'/>
    <FirstScreen/>
    <Fact :fact='facts[0]'/>
    <InfoApartments/>
    <Slider/>
    <Advantages/>
    <Apartments @anchor='anchor'/>
    <Map/>
    <Fact :fact='facts[1]'/>
    <Form/>
    <Cards @anchor='anchor'/>
  </main>

</template>

<script>
import Header from './components/Header/Header'
import FirstScreen from './components/FirstScreen/FirstScreen'
import Fact from './components/Fact/Fact'
import InfoApartments from './components/InfoApartments/InfoApartments'
import Slider from './components/Slider/Slider'
import Advantages from './components/Advantages/Advantages'
import Apartments from './components/Apartments/Apartments'
import Map from './components/Map/Map'
import Form from './components/Form/Form'
import Cards from './components/Cards/Cards'

export default {
  name: 'App',

  components: {
    Header,
    FirstScreen,
    Fact,
    InfoApartments,
    Slider,
    Advantages,
    Apartments,
    Map,
    Form,
    Cards,
  },

  data() {
    return {
      name: 'map',
      facts: [
        {
          title: 'РУССКИЙ ШИК И ФРАНЦУЗСКАЯ УТОНЧЕННОСТЬ',
          text: `По версии журнала TMN
                <img src='./img/fact/img-1.jpg' alt='Mon Cher'>
                Mon&nbsp;Cher вошел в&nbsp;5-ку самых преми-альных
                <img src='./img/fact/img-2.jpg' alt='Mon Cher'>
                новостроек <span class='bg-elem'>Москвы</span>.`
        }, {
          title: 'ВКЛАД В СВОЕ БУДУЩЕЕ',
          text: `Купить здесь дом это не просто приобретение
                <img src='./img/fact/img-1.jpg' alt='Mon Cher'>
                недвижимости и&nbsp;статус, это образ жизни, уровень комфорта и&nbsp;вклад в&nbsp;будущее
                <img src='./img/fact/img-2.jpg' alt='Mon Cher'>`
        },
      ]
    }
  },

  methods: {
    anchor: function (event) {
      event.preventDefault();
      const blockID           = event.target.dataset.anchor;
      const fixedHeaderHeight = 0;
      const top               = document.querySelector('' + blockID).offsetTop - fixedHeaderHeight;
      window.scrollTo({
        top,
        left: 0,
        behavior: "smooth",
      });
    },

  }
}
</script>

<style lang='scss'>
@import "style/main";
</style>
