@import "src/style/virables";
@import "src/style/mixins";

.section-map {
  @include responsive(margin-bottom, 77, 30, 'limited');

  @media screen and (max-width: 1024px) {
    height: 450px;
    overflow: hidden;
  }

}
