<template>
  <section class='section-map'>

    <GMapMap
        ref='oppa'
        :center='center'
        :zoom='12'
        :style='mapStyles'
        :options="{
                      zoomControl: true,
                      mapTypeControl: false,
                      scaleControl: false,
                      streetViewControl: false,
                      rotateControl: false,
                      fullscreenControl: false,
                 }"
        >
      <GMapCluster>
        <GMapMarker
            :key='index'
            v-for='(m, index) in markers'
            :position='m.position'
            :clickable='true'
            :draggable='true'
            @click='center=m.position'
        />
      </GMapCluster>

    </GMapMap>

  </section>
</template>

<style lang='scss'>

.gm-bundled-control-on-bottom {
  width: 295px !important;
  height: 100% !important;
  top: 0 !important;
  bottom: auto !important;
  right: 0 !important;
  display: flex !important;
  align-items: center !important;
  @media screen and (max-width: 1024px) {
    left: 0 !important;
    right: auto !important;
  }

  div{
    box-shadow: none !important;
    background: none !important;
  }

  @media screen and (min-width: 1025px) {
    &::before {
    content: '';
    position: absolute !important;
    top: -20px !important;
    right: 0 !important;
    background: #F6F8FA !important;
    width: 380px !important;
    height: 120vh !important;
  }
  }
}

.gm-bundled-control-on-bottom button {
  width: 104px !important;
  height: 104px !important;
  border-radius: 50%;
  background: #E1DE00 !important;

  @media screen and (max-width: 1024px) {
    width: 60px !important;
    height: 60px !important;
  }

  &:nth-of-type(1){
    top: calc(34vh + 105px) !important;
    @media screen and (max-width: 1024px) {
      top: 0 !important;
    }
  }

  &:nth-of-type(2){
    top: 34vh !important;
    right: 150px !important;
    left: auto !important;
    @media screen and (max-width: 1024px) {
      top: 20px !important;
      left: 0 !important;
    }
  }
}

.gm-style-cc {
  display: none !important;
}

</style>

<script>
import './map.scss'

export default {
  name: 'Map',
  data() {
    return {
      mapStyles: `
      width: 100vw;
      height: 990px`,
      center: {
        lat: 55.650625,
        lng: 37.62708
      },
      markers: [
        {
          position: {
            lat: 55.7401172,
            lng: 37.5370473
          },

        }, {
          position: {
            lat: 55.7842476,
            lng: 37.5595536
          },

        }
      ]
    }
  },

  methods: {
  },
  mounted() {
  }
}
</script>
