@import "src/style/virables";
@import "src/style/mixins";

.second-slider {
  @include responsive(margin-bottom, 80, 40, 'limited');

  .img {
    min-height: 450px;
    object-fit: cover;
    object-position: left;
  }

  .swiper-button-prev {
    @include buttonSlider(105, 40);
    left: vw(50px);
  }

  .swiper-button-next {
    @include buttonSlider(105, 40);
    transform: scale(-1, -1);
    right: vw(130px);
  }
}
