<template>
  <section class='second-slider'>
    <swiper navigation slides-per-view='1.1' :space-between='100'>
      <swiper-slide class='second-slider__slide'
                    v-for='(slide, index) in secondSlider' :key='slide' :virtualIndex='index'>
          <img class='img' :src='require(`@/assets/images/second-slider/${slide}.jpg`)' alt='Русский шик и французская утонченность' loading='lazy'>
      </swiper-slide>
    </swiper>
  </section>
</template>

<script>
import './slider.scss'

import SwiperCore, { Navigation, EffectFade, Virtual } from 'swiper';
import { Swiper, SwiperSlide } from 'swiper/vue';

SwiperCore.use([ Navigation, EffectFade, Virtual ]);

export default {
  name: "Slider",

  components: {
    Swiper,
    SwiperSlide,
  },

  data() {
    return {
      secondSlider: [ "slide-1", 'slide-1', 'slide-1' ],
    }
  },

}
</script>
